<%= form_for(@forum) do |f| %>
  <% if @forum.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@forum.errors.count, "error") %> prohibited this forum from being saved:</h2>

      <ul>
      <% @forum.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :category_id %><br>
    <%= f.number_field :category_id %>
  </div>
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :intro %><br>
    <%= f.text_field :intro %>
  </div>
  <div class="field">
    <%= f.label :province_id %><br>
    <%= f.number_field :province_id %>
  </div>
  <div class="field">
    <%= f.label :city_id %><br>
    <%= f.number_field :city_id %>
  </div>
  <div class="field">
    <%= f.label :club_id %><br>
    <%= f.number_field :club_id %>
  </div>
  <div class="field">
    <%= f.label :topics_num %><br>
    <%= f.number_field :topics_num %>
  </div>
  <div class="field">
    <%= f.label :order_num %><br>
    <%= f.number_field :order_num %>
  </div>
  <div class="field">
    <%= f.label :is_systemic %><br>
    <%= f.check_box :is_systemic %>
  </div>
  <div class="field">
    <%= f.label :icon_path %><br>
    <%= f.text_field :icon_path %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
