<%@title=@forum.name %>
<div class="qyer_head_crumbg">
  <div class="qyer_head_crumb">
    <span class="text"><a href="http://www.qyer.com/">首页</a></span>
    <span class="space">&gt;</span>
    <a href="<%= forums_path %>">论坛</a>&nbsp;&gt;&nbsp;<%= @forum.name %>
  </div>
</div>

<%= render 'forums/list_head' %>


<div>
  <%= render 'forums/list_main' %>
  <%= render 'forums/list_siebar' %>
</div>


<% content_for:script do %>
    <script type="text/javascript">
        seajs.use(['global','forum/latest/forum'], function(global,forum) {
            //global.button('place_href_button');
            global.logged_button('post_href_button');
            forum.list_events();
            forum.post_button();
        });
    </script>
<% end %>