<% content_for:head do %>
    <link rel="stylesheet" type="text/css" href="/static/uploadify/uploadify.css">
    <script type="text/javascript" src="/static/uploadify/jquery.uploadify-3.1.min.js"></script>
    <script type="text/javascript" charset="utf-8" src="/static/ueditor/ueditor.config.js"></script>
    <script type="text/javascript" charset="utf-8" src="/static/ueditor/ueditor.all.js"></script>
<% end %>


<%
   if @article.new_record?
     method_path=admin_articles_path
   else
     method_path=admin_article_path(@article.id)
   end
%>

<%= form_for(@article, :url => method_path, :html => {:id => 'form1', :class => 'form-horizontal'}) do |f| %>

    <%= block_alert @article %>

    <div class="control-group">
      <%= f.label :title, '自定义标题', :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :title, :class => 'input-xxlarge' %>
      </div>
    </div>


    <div class="control-group">
      <%= f.label :category_id, :class => 'control-label' %>
      <div class="controls">
        <%= select("article", "category_id", ArticleCategory.all.collect { |m| [m.name, m.id] }, {:include_blank => '分类'}) %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :tags, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :tags, :class => 'input-xxlarge' %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :intro, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_area :intro, :rows => '3', :class => 'span10' %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :content, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_area :content, :rows => '6', :id => 'content', :class => 'span10' %>
        <%= render 'global/ueditor', :id => 'content', :options => {:initialFrameHeight => '250'} %>
      </div>
    </div>

    <div class="control-group" id="uploadify_preview" style="display:<%= (@pics.blank?) ? 'none' : 'block' %>">
      <div class="controls">
        <ul>
          <% if @pics %>
              <% @pics.each do |p| %>
                  <li><img src="<%= img_path p %>" alt=""/></li>
              <% end %>
          <% end %>
          <li id="includBefore" style="display: none"></li>
        </ul>
      </div>
    </div>

    <div class="control-group">
      <div class="controls">
        <%= f.hidden_field :img_ids, :class => 'input-xxlarge', :id => "img_ids" %>
        <%= f.hidden_field :img_path, :class => 'input-xxlarge', :id => "img_path" %>
        <input type="file" name="file_upload" id="file_upload"/>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :is_recommended, :class => 'control-label' %>

      <div class="controls">
        <label class="checkbox inline">
          <input type="checkbox" name="is_recommended" <%= 'checked' if @article.is_recommended %> > 推荐
        </label>

        <label class="checkbox inline"´>
        <input type="checkbox" name="is_fixed" <%= 'checked' if @article.is_fixed %>> 置顶
        </label>
      </div>
    </div>

    <div class="control-group">
      <div class="controls">
        <%= f.button :class => "btn btn-primary", :id => 'submit_button' %>
        <button type="button" class="btn" id="cancel_button" onclick="history.back()">取消</button>
      </div>
    </div>
<% end %>

<script type="text/javascript">
    readyScript.bind = function () {
        $('#form1').bind("submit", function (e) {
            e.preventDefault();
            new ajaxForm($(this), {
                dataType: 'json'
            }).send();
        });
        var uploader = new go_uploader();
        uploader.preview();
        uploader.uploadify();
    }
</script>