<% @title=@topic.title %>

<% content_for:style do %>
    <style type="text/css">
        #mainss_body {width: 95%;min-height:300px;margin:0 auto;}
        .qyesr_head_crumb{width:99%}
    </style>
<% end %>

<% content_for:head do %>
    <script type="text/javascript" charset="utf-8" src="/static/ueditor/ueditor.config.js"></script>
    <script type="text/javascript" charset="utf-8" src="/static/ueditor/ueditor.all.js"></script>
<% end %>



    <div class="qyer_head_crumbg">
      <div class="qyer_head_crumb">
        <a href="<%= main_path %>">首页</a>&nbsp;&gt;&nbsp;<a href="<%= forums_path %>">论坛</a>&gt; <a href="<%= list_forums_path @topic.forum_id %>"><%= @topic.forum.name %></a> &nbsp;&gt;&nbsp;<%= @topic.title %>    </div>
    </div>

<div style="text-align:right;margin-bottom:10px">
  <a class="btn btn-orange" href="javascript:;" id="comment_form_position"><span class="icon-comment"></span> 发表评论</a>
  <a class="btn btn-blue" href="javascript:;" data-href="/forums/topics/post?fid=<%=@topic.forum_id %>" id="new_topic_button"><span class="icon-plus"></span> 发表新帖</a>
</div>


<table class="view_table">

  <tr class="topic_info">
    <td class="hit_num" >查看：<%= @topic.hits_num %> 回复：<%= @topic.comments_num %></td>
    <td class="title"><h1>主题：<%= @topic.title %></h1>
    </td>
  </tr>

  <tr>
    <td class="user_info">
      <a href="sdf">seeyoup</a>
      <img src="/avatar/1_o.jpg" width="80" height="80" alt="zhaojiangang_">
    </td>
    <td class="view_content">
      <div class="infos" style="color:#999;font-size:12px;border-bottom:1px dashed #eee;padding:7px 0">
        <span style="color:#f60;font-weight:bold">楼主</span> 发表于 <%= @topic.created_at.to_s(:db) %>
      </div>
      <div style="line-height:1.7em;font-size:14px;padding:10px 15px 100px 15px;font-family: verdana">
        <% if @topic.post %>
            <%= raw @topic.post.content %>
        <% elsif @topic.together %>
            <%= raw @topic.together.content %>
        <% elsif @topic.activity %>
            <%= raw @topic.activity.content %>
        <% end %>
      </div>

      <div class="view_tools" >ffffffff</div>
      <div class="signatures" ><span class="icon-pencil"></span>&nbsp;<%= @topic.user.signatures %></div>

    </td>
  </tr>
</table>

<%= comment_list :hidden_field => {:topic_id => @topic.id}, :query_param => {:topic_id => @topic.id,:topic=>true} %>

<% content_for:seajs_global do %>
global.logged_button('new_topic_button');
global.scroll_to_position('#comment_form_position','#cmt_submit_button');
<% end %>

