<div id="cmt_loading"></div>
<div id="cms_list">
  <div id="ajax_list">

  </div>
</div>

<table class="view_table" id="comment_form_position">
  <tr>
    <td class="user_info">
      <a href="sdf">seeyoup</a>
      <img src="/avatar/1_o.jpg" width="80" height="80" alt="zhaojiangang_">
    </td>
    <td style="vertical-align:top;padding:4px 10px 10px 10px">
      <form method="post" id="comment_form" action="<%= comments_path %>" style="margin-bottom:10px">
        <div style="line-height:1.7em;font-size:14px;padding:15px 0">
          <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>"/>
          <textarea name="comment[content]" id="cmt_textarea" cols="30" rows="10" style="width:800px;height:150px"></textarea>
          <%= render 'global/ueditor', :id => 'cmt_textarea', :options => {:initialFrameHeight => '160'} %>
        </div>
        <div class="post-toolbar">
          <% @hidden_field.each do |key, value| %>
              <input type="hidden" name="comment[<%= key %>]" value="<%= value %>"/>
          <% end %>
          <button class="btn btn-mint" type="button" id="cmt_submit_button">发布评论</button>
        </div>
      </form>
    </td>
  </tr>
</table>

<% content_for:seajs_global do %>
global.loadComments('<%=@query_param.to_param %>');
global.bindCmtForm('<%=@query_param.to_param %>');
<% end %>
