<p id="notice"><%= notice %></p>

<p>
  <strong>Username:</strong>
  <%= @user.username %>
</p>

<p>
  <strong>Password:</strong>
  <%= @user.password %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Avatar path:</strong>
  <%= @user.avatar_path %>
</p>

<p>
  <strong>Memo:</strong>
  <%= @user.memo %>
</p>

<p>
  <strong>Signatures:</strong>
  <%= @user.signatures %>
</p>

<p>
  <strong>Point:</strong>
  <%= @user.point %>
</p>

<p>
  <strong>Reg date:</strong>
  <%= @user.reg_date %>
</p>

<p>
  <strong>Login date:</strong>
  <%= @user.login_date %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
