<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @route.title %>
</p>

<p>
  <b>Short title:</b>
  <%= @route.short_title %>
</p>

<p>
  <b>Tags:</b>
  <%= @route.tags %>
</p>

<p>
  <b>Category:</b>
  <%= @route.category_id %>
</p>

<p>
  <b>User:</b>
  <%= @route.user_id %>
</p>

<p>
  <b>Img path:</b>
  <%= @route.img_path %>
</p>

<p>
  <b>Banner path:</b>
  <%= @route.banner_path %>
</p>

<p>
  <b>Province:</b>
  <%= @route.province_id %>
</p>

<p>
  <b>City:</b>
  <%= @route.city_id %>
</p>

<p>
  <b>Duration:</b>
  <%= @route.duration %>
</p>

<p>
  <b>Distance:</b>
  <%= @route.distance %>
</p>

<p>
  <b>Starting:</b>
  <%= @route.starting %>
</p>

<p>
  <b>Destination:</b>
  <%= @route.destination %>
</p>

<p>
  <b>Intro:</b>
  <%= @route.intro %>
</p>

<p>
  <b>Content:</b>
  <%= @route.content %>
</p>

<p>
  <b>Source:</b>
  <%= @route.source %>
</p>

<p>
  <b>Been num:</b>
  <%= @route.been_num %>
</p>

<p>
  <b>Interested num:</b>
  <%= @route.interested_num %>
</p>

<p>
  <b>Favorites num:</b>
  <%= @route.favorites_num %>
</p>

<p>
  <b>Hits num:</b>
  <%= @route.hits_num %>
</p>

<p>
  <b>Good num:</b>
  <%= @route.good_num %>
</p>

<p>
  <b>Along the scenic:</b>
  <%= @route.along_the_scenic %>
</p>

<p>
  <b>Is recommended:</b>
  <%= @route.is_recommended %>
</p>

<p>
  <b>Is fixed:</b>
  <%= @route.is_fixed %>
</p>

<p>
  <b>Recommendation index:</b>
  <%= @route.recommendation_index %>
</p>

<p>
  <b>Landscape index:</b>
  <%= @route.landscape_index %>
</p>

<p>
  <b>Road index:</b>
  <%= @route.road_index %>
</p>

<p>
  <b>Map:</b>
  <%= @route.map %>
</p>


<%= link_to 'Edit', edit_route_path(@route) %> |
<%= link_to 'Back', routes_path %>
