<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @log.title %>
</p>

<p>
  <strong>Controller:</strong>
  <%= @log.controller %>
</p>

<p>
  <strong>Action:</strong>
  <%= @log.action %>
</p>

<p>
  <strong>User:</strong>
  <%= @log.user_id %>
</p>

<%= link_to 'Edit', edit_log_path(@log) %> |
<%= link_to 'Back', logs_path %>
