<div class="gui_navbox fl">
<ul class="gui_nav">
<li class="gui_nav_item">
  <div class="gui_nav_item_title"><span class="sum">59</span><strong>热门地区</strong></div>
  <div class="gui_nav_item_subnav gui_nav_item_subnav_roll js" tabindex="0" style="width: 700px;">
    <input type="button" value="Previous" class="carousel-control previous carousel-previous disabled" disabled="disabled">

    <div class="carousel-wrap" style="overflow: hidden; position: relative; height: 320px;">
      <ul class="clearfix" style="position: absolute; top: 0px; width: 1400px;">
        <li style="height: 320px;">
          <dl>
            <dt>浙江省</dt>
            <dd><a href="/places/city/hangzhou/" title="吃东南亚" target="_blank">杭州</a></dd>
            <dd><a href="/places/city/arrival-and-departure-card-asia/" title="出入境卡-亚洲" target="_blank">出入境卡-亚洲</a></dd>
            <dd><a href="/places/city/friendship-highway/" title="拉萨到加德满都" target="_blank">拉萨到加德满都</a></dd>
            <dt>江苏省</dt>
            <dd><a href="/places/city/dubai/" title="迪拜" target="_blank">迪拜</a></dd>
            <dt>巴基斯坦</dt>
            <dd><a href="/places/city/islamabad/" title="伊斯兰堡" target="_blank">伊斯兰堡</a></dd>
            <dt>不丹</dt>
            <dd><a href="/places/city/bhutan/" title="不丹" target="_blank">不丹</a></dd>
            <dt>菲律宾</dt>
            <dd><a href="/places/city/bohol/" title="薄荷岛" target="_blank">薄荷岛</a></dd>
          </dl>
        </li>
        <li style="height: 320px;">
          <dl>
            <dd><a href="/places/city/boracay/" title="长滩岛" target="_blank">长滩岛</a></dd>
            <dt>韩国</dt>
            <dd><a href="/places/city/jeju/" title="济州岛" target="_blank">济州岛</a></dd>
            <dd><a href="/places/city/seoul/" title="首尔" target="_blank">首尔</a></dd>
            <dt>柬埔寨</dt>
            <dd><a href="/places/city/phnom-penh/" title="金边" target="_blank">金边</a></dd>
            <dd><a href="/places/city/angkor-wat/" title="吴哥窟" target="_blank">吴哥窟</a></dd>
            <dt>老挝</dt>
            <dd><a href="/places/city/luang-prabang/" title="琅勃拉邦" target="_blank">琅勃拉邦</a></dd>
            <dd><a href="/places/city/northern-laos/" title="老挝北部" target="_blank">老挝北部</a></dd>
          </dl>
        </li>
        <li style="height: 320px;">
          <dl>
            <dt>马尔代夫</dt>
            <dd><a href="/places/city/maldives/" title="马尔代夫" target="_blank">马尔代夫</a></dd>
            <dt>马来西亚</dt>
            <dd><a href="/places/city/penang/" title="槟城" target="_blank">槟城</a></dd>
            <dd><a href="/places/city/kuala-lumpur/" title="吉隆坡" target="_blank">吉隆坡</a></dd>
            <dd><a href="/places/city/malacca/" title="马六甲" target="_blank">马六甲</a></dd>
            <dd><a href="/places/city/redang/" title="热浪岛" target="_blank">热浪岛</a></dd>
            <dd><a href="/places/city/sabah/" title="沙巴" target="_blank">沙巴</a></dd>
            <dt>缅甸</dt>
            <dd><a href="/places/city/bagan/" title="蒲甘" target="_blank">蒲甘</a></dd>
            <dd><a href="/places/city/yangon/" title="仰光" target="_blank">仰光</a></dd>
          </dl>
        </li>
        <li style="height: 320px;">
          <dl>
            <dt>尼泊尔</dt>
            <dd><a href="/places/city/annapurna-trekking/" title="安娜普尔纳地区徒步" target="_blank">安娜普尔纳地区徒步</a></dd>
            <dd><a href="/places/city/pokhara/" title="博卡拉" target="_blank">博卡拉</a></dd>
            <dd><a href="/places/city/kathmandu/" title="加德满都" target="_blank">加德满都</a></dd>
            <dd><a href="/places/city/everest-trekking/" title="尼泊尔珠峰地区徒步" target="_blank">尼泊尔珠峰地区徒步</a></dd>
            <dt>日本</dt>
            <dd><a href="/places/city/osaka/" title="大阪" target="_blank">大阪</a></dd>
            <dd><a href="/places/city/tokyo/" title="东京" target="_blank">东京</a></dd>
            <dd><a href="/places/city/kyoto/" title="京都" target="_blank">京都</a></dd>
            <dt>泰国</dt>
            <dd><a href="/places/city/bangkok/" title="曼谷" target="_blank">曼谷</a></dd>
            <dd><a href="/places/city/phuket/" title="普吉岛" target="_blank">普吉岛</a></dd>
          </dl>
        </li>
        <li style="height: 320px;">
          <dl>

            <dd><a href="/places/city/chiang-mai/" title="清迈" target="_blank">清迈</a></dd>


            <dd><a href="/places/city/ko-samui-and-ko-tao/" title="苏梅岛与涛岛" target="_blank">苏梅岛与涛岛</a></dd>


            <dt>新加坡</dt>
            <dd><a href="/places/city/singapore/" title="新加坡" target="_blank">新加坡</a></dd>


            <dd><a href="/places/city/taste-of-singapore/" title="新加坡美食" target="_blank">新加坡美食</a></dd>


            <dt>印度</dt>
            <dd><a href="/places/city/darjeeling/" title="大吉岭" target="_blank">大吉岭</a></dd>


            <dd><a href="/places/city/delhi/" title="德里" target="_blank">德里</a></dd>


            <dd><a href="/places/city/mumbai/" title="孟买" target="_blank">孟买</a></dd>


            <dd><a href="/places/city/taj-mahal-agra/" title="泰姬陵-阿格拉" target="_blank">泰姬陵-阿格拉</a></dd>


            <dd><a href="/places/city/varanasi/" title="瓦拉纳西" target="_blank">瓦拉纳西</a></dd>


          </dl>
        </li>
        <li style="height: 320px;">
          <dl>

            <dd><a href="/places/city/jaipur/" title="斋普尔" target="_blank">斋普尔</a></dd>


            <dt>印度尼西亚</dt>
            <dd><a href="/places/city/bali/" title="巴厘岛" target="_blank">巴厘岛</a></dd>


            <dt>越南</dt>
            <dd><a href="/places/city/da-lat/" title="大叻" target="_blank">大叻</a></dd>


            <dd><a href="/places/city/hanoi/" title="河内" target="_blank">河内</a></dd>


            <dd><a href="/places/city/hoi-an/" title="会安" target="_blank">会安</a></dd>


            <dd><a href="/places/city/mui-ne/" title="美奈" target="_blank">美奈</a></dd>


            <dd><a href="/places/city/nha-trang/" title="芽庄" target="_blank">芽庄</a></dd>


            <dd><a href="/places/city/ho-chi-minh-city/" title="胡志明市" target="_blank">胡志明市</a></dd>


          </dl>
        </li>
        <li style="height: 320px;">
          <dl>
            <dt>中国</dt>
            <dd><a href="/places/city/macau/" title="澳门" target="_blank">澳门</a></dd>


            <dd><a href="/places/city/kaohsiung/" title="高雄" target="_blank">高雄</a></dd>


            <dd><a href="/places/city/cycling-in-taiwan/" title="骑行台湾" target="_blank">骑行台湾</a></dd>


            <dd><a href="/places/city/taipei/" title="台北" target="_blank">台北</a></dd>


            <dd><a href="/places/city/tainan/" title="台南" target="_blank">台南</a></dd>


            <dd><a href="/places/city/eastern-taiwan/" title="台湾东部" target="_blank">台湾东部</a></dd>


            <dd><a href="/places/city/offshore-islands/" title="台湾离岛" target="_blank">台湾离岛</a></dd>


            <dd><a href="/places/city/taste-of-taiwan/" title="台湾美食" target="_blank">台湾美食</a></dd>


            <dd><a href="/places/city/hong-kong/" title="香港" target="_blank">香港</a></dd>


            <dd><a href="/places/city/shopping-in-hk/" title="香港购物" target="_blank">香港购物</a></dd>


            <dd><a href="/places/city/taste-of-hong-kong/" title="香港美食" target="_blank">香港美食</a></dd>


          </dl>
        </li>
        <li style="height: 320px;">
          <dl>


          </dl>
        </li>
      </ul>
    </div>
    <input type="button" value="Next" class="carousel-control next carousel-next">
  </div>
</li>
<% Province.group.each_with_index do |g, key| %>
    <% if key>0 %>
        <li class="gui_nav_item">
          <div class="gui_nav_item_title"><span class="sum">15</span><strong><%= g %>地区</strong></div>
          <div class="gui_nav_item_subnav" style="width: 700px;">
            <ul class="clearfix" style="width: 1400px">
              <% @provinces[key].each do |p| %>
                  <li>
                  <dl>
                    <dt><%= p.name %></dt>
                    <% p.cities.each do |c| %>
                        <dd>
                          <a href="/places/city/<%= c.pinyin %>" title="<%= c.name %>目的地" target="_blank"><%= c.name %></a>
                        </dd>
                    <% end %> </dl>
                  </li>
              <% end %>
            </ul>
          </div>
        </li>
    <% end %>
<% end %>
</ul>
<div class="gui_search">
  <p><input type="text" class="ui_input" id="jn_search_input" placeholder="搜索穷游锦囊"></p>

  <div class="gui_search_lay jssearchcontainer" id="jn_search_drop"></div>
</div>
<ul class="gui_qyjnlist clearfix">
  <li>
    <a href="/guide/" target="_blank" data-bn-ipg="6-1"><img src="http://static.qyer.com/images/guide/qyjn_iphone.png" width="48" height="60" alt="穷游锦囊iPhone版"></a>
  </li>
  <li>
    <a href="/guide/" target="_blank" data-bn-ipg="6-2"><img src="http://static.qyer.com/images/guide/qyjn_android.png" width="48" height="60" alt="穷游锦囊Android版"></a>
  </li>
  <li>
    <a href="/guidehd/" target="_blank" data-bn-ipg="6-3"><img src="http://static.qyer.com/images/guide/qyjn_ipad.png" width="48" height="60" alt="穷游锦囊HD ipad版"></a>
  </li>
</ul>
</div>